.slant.right {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    transition-duration: 2s;
}

.slant.left {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    transition-duration: 1s;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}