body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: Georgia, Verdana, Serif;
	background-image: url("/assets/background.png");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
